.root {
    position: absolute;
    right: -20px;
}

.AddButton {
    width: 20px;
    height: 20px;
    border: 1px solid black;
    border-radius: 100px;
    background-color: #DBC5C5;
    display: flex;
    align-items: center;
    align-content: center;
    justify-content: center;
}